

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
    gap: 12px;
}
a{
    color: #F9FaF8;
    text-decoration: none;
    font-size: 12px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FaF8;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.HeaderLogo{
    font-weight: bold;
}
.signup{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 48px;
    gap: 24px;
    padding-bottom: 48px;
    align-items: center;
    justify-content: space-between;
}
.awesome-signup{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
}

.imagebox{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    gap: 50px;
}
.infobox img{
    border: solid #3882f6;
    border-radius: 10px;
    min-width: 80px;
    min-height: 80px;
    
}
.infobox{
    font-size: 12px;
    max-width: 100px;
    text-align: center;
}

.bottom-signup{
    background-color: #3882f6;
}

.quotebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
    padding-left: 300px;
    padding-right: 300px;
   
    background-color: #E5E7EB;
    
}

.quotetext{
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotecredit{
    align-self: flex-end;
    
    color: #1F2937;
    
}

.herotext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
}

.bottombox{
    display: flex;
    padding: 24px 48px;
    justify-content: space-around;
    align-items: center;
    margin: 48px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #3882f6;
    color: white;
}
.ctatext{
    font-weight: bold;
}
.signuptext{
    font-size: 12px;
}

.buttontopcolor{
    background-color: #3882f6;
    border-color: #3882f6;
    margin-top: 12px;
}
.footer{
    color: white;
    background-color: #1F2937;
    padding: 12px;
    display: flex;
    font-size: 12px;
    justify-content: center;
}
button{
    background-color: #3882f6;
    border-color: white;
    color: white;
    width: 80px;
    height: 24px;
    border: 8px, solid;
    border-radius: 5px;
    font-weight: bold;
}